body {
  height 100%vh;
  background: url(/styles/tech-gray.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.jumbotron {
  background-color: rgba(140,179,178,0.9);
  color: white;
  font-family: 'Vast Shadow', cursive;
}

h3 {
  display: none;
  font-family: 'Six Caps', sans-serif;
  text-align: right;
  font-size: 2em;
  color: white;
}

p {
  margin-top: 25px;
  display: none;
  font-family: 'Satisfy', cursive;
  font-size: 1.5em;
  color: white;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-primary {
  background-color: rgb(223,179,145);
  border: 1px solid white;
  border-radius: 0;
  color: white;
}

.btn-primary:hover {
  background-color: white;
  border: 1px solid black;
  border-radius: 0;
  color: black;
}

.btn-primary:focus {
  background-color: rgb(223,179,145);
  border: 1px solid white;
  color: white;
}

.btn-primary:active {
  background-color: rgb(223,179,145);
  border: 1px solid white;
  color: white;
}

.container {
  background-color: rgba(140,179,178,0.9);
}

#display-container ul {
  display: flex;
  justify-content: space-around;
  margin-left: -60px;
  margin-top: 50px;
  list-style-type: none;
}

li {
  width: 10px;
  height: 10px;
  background-color: rgb(176,190,177);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

li:hover {
  background-color: rgb(223,179,145);
  border: 1px solid white;
}

.active {
  width: 10px;
  height: 10px;
  background-color: rgb(223,179,145);
  border: 1px solid white;
  border-radius: 50%;
}

.nav {
  display: flex;
  justify-content: center;
}
